:root 
{
    --holdTime: 2s;
}

.loadingAnimationClass
{
    animation-name: loadingAnim;
    animation-duration: var(--holdTime);
    animation-iteration-count: 1;
}

@keyframes loadingAnim
{
    0%   
    {
        opacity: 0.3;
    }
    100% 
    {
        opacity: 1;
    }
}

html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    padding: 0;
    clear: both;

    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-size: 24px;

    color: white;
    background-color: #212121;
}

h1
{
    font-size: 1em;

    width: 80%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div
{
    margin:0 auto;
    height:7.5em;
    width:17.5em;
    margin-bottom: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.green
{
    background-color: green;
}

.red
{
    background-color: rgb(194, 63, 63);
}

.blue
{
    color: blue;
}
.lightBlue
{
    color: lightskyblue;
}
.orange
{
    color: darkorange;
}

footer
{
    color: #9D9D9D;
    font-size: .7em;
    background-color: #212121;


    position: fixed;
    bottom: 0;
    z-index: 6;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: .7em;
}

@media only screen and (max-width: 768px) 
{
    body
    {
        font-size: 17px;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}