html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    padding: 0;
    clear: both;

    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-size: 24px;

    color: white;
    background-color: #212121;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1
{
    font-size: 7em;

    width: 80%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div
{
    height:75vh;
    width:60em;

    position: fixed;

    top: 12.5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.activated
{
    background-color: green;
}

.deactivated
{
    background-color: red;
}


/*Longpress loading bar*/
#loadingBar
{
    /*Optional*/
    width: 1em;
    height: 1em;

    background-color: lightskyblue;

    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    border-radius: 50%; 

    border: 1px solid lightskyblue;

    /*Required*/
    z-index: 99;
    position: fixed;
    display:none;
}